<!--base.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" type="text/css">
    <!-- 引入kindeditor_source的simple主题css文件 -->
    <link rel="stylesheet" href="{% static 'kindeditor/themes/simple/simple.css' %}" type="text/css">

    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-offset-1">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">BEE主页</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#login-collapse">
                            <span class="sr-only">用户</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="login-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% if user_id %}
                                <li><a href="{% url 'user-information' %}">欢迎您，{{ user_id }}</a></li>
                                <li><a href="{% url 'logout' %}">退出</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 登录</a></li>
                                <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row" style="padding-top: 80px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% block base_body %}{% endblock %}
        </div>
    </div>
</div>


<!--返回顶部-->
{#<p id="back-top"> <a href="#top">返回顶部</a> </p>#}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

<!--可以用来生成kindeditor的js-->
<script src="{% static 'kindeditor/kindeditor-all-min.js' %}"></script>
<script src="{% static 'kindeditor/lang/zh-CN.js' %}"></script>
<script src="{% static 'kindeditor/config.js' %}"></script>

</body>
</html>


