<!--footer.html-->
{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <section class="jumbotron text-center" style="margin-bottom:0">
                <h2>学而知不足。</h2>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <ul class="list-inline">
                <li><a href="https://weixin.sogou.com/" target="_blank">友情链接·搜狗搜索</a></li>
                <li><a href="{% url 'manage' %}" target="_blank">数据管理平台</a></li>
            </ul>
        </div>
    </div>
</div>

