﻿<!--index.html-->
{% extends "users-window/base.html" %}
{% load staticfiles %}
{% block title %}Bee | 主页{% endblock %}

{% block base_body %}
    <div class="center-block">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
                <div class="search-form">
                    <form action="{% url 'search' %}" method="get">
                        <div class="input-group">
                            <input class="form-control" type="text" id="search-text" name="search-text" placeholder="搜索您想看的……" />
                            <div class="input-group-btn">
                                <button class="btn btn-primary form-control" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="center-block">
    <div class="row">
        <div class="col-md-8">
            <!--轮播图所在行begin-->
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide"  data-ride="carousel" data-interval="2000">
                        {% if carousel != None %}
                            <!-- 轮播（Carousel）指标 -->
                            <ol class="carousel-indicators">
                                {% for i in carousel_len %}
                                    {% if forloop.first %}
                                        <li data-target="#myCarousel" data-slide-to="{{ i }}" class="active">
                                            {% else %}
                                        <li data-target="#myCarouse1" data-slide-to="{{ i }}">
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ol>
                            <!-- 轮播（Carousel）项目 -->
                            <div class="carousel-inner">
                            {% for item in carousel %}
                                {% if forloop.first %}
                                    <div class="item active">
                                {% else %}
                                    <div class="item">
                                {% endif %}
                            <img src="{% static item.img_url %}" alt="{{ item.alt }}" style="width:100%; height:300px;"/>
                            <div class="carousel-caption">{{ item.title }}</div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                            <!-- 默认轮播（Carousel）指标 -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarouse1" data-slide-to="1"></li>
                                <li data-target="#myCarouse1" data-slide-to="2"></li>
                            </ol>
                            <!-- 轮播（Carousel）项目 -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="{% static 'carousel_default_imgs/default1.jpg' %}" style="width:100%; height:320px;"/>
                                    <div class="carousel-caption">{{ item.title }}</div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'carousel_default_imgs/default2.jpg' %}" style="width:100%; height:320px;">
                                    <div class="carousel-caption">{{ item.title }}</div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'carousel_default_imgs/default3.jpg' %}" style="width:100%; height:320px;">
                                    <div class="carousel-caption">{{ item.title }}</div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- 轮播（Carousel）导航 -->
                        <a class="carousel-control left" href="#myCarousel"
                           data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="carousel-control right" href="#myCarousel"
                           data-slide="next"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div><br>
                <!--轮播图所在行end-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">莞工十大组织最新公众文章</h3>
                            </div>
                            <div class="panel-body">
                                {#                                    <ul class="list-group">#}
                                {#                                        {% for wechat_article,wechat_name in articles_list %}#}
                                {#                                            <li class="list-group-item">#}
                                {#                                                <div class="row">#}
                                {#                                                    <div class="col-md-4">#}
                                {#                                                        <img src="{{ wechat_article.cover_img | safe }}" style="width:100px; height: 65px;"/>#}
                                {#                                                    </div>#}
                                {#                                                    <div class="col-md-8">#}
                                {#                                                        <a href="{% url 'wechat-article-content' wechat_article.id %}" target="_blank">{{ wechat_article.article_title }}</a>#}
                                {#                                                        <p class="control-right">来自：{{ wechat_name }}</p>#}
                                {#                                                    </div>#}
                                {#                                                </div>#}
                                {#                                            </li>#}
                                {#                                        {% endfor %}#}
                                {#                                    </ul>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">莞工校友日常鸡汤文章</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    {% for blog_article in blog_articles %}
                                        <li class="list-group-item">
                                            <a href="{% url 'public-blog-article-content' blog_article.id %}" target="_blank">{{blog_article.article_title | safe}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">校园热门文章</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for wechat_article in wechat_articles %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <img src="{{ wechat_article.cover_img }}" style="width:100px;"/>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                            <a href="{% url 'wechat-article-content' wechat_article.id %}" target="_blank">{{ wechat_article.article_title }}</a>
                                            <p class="text-right">来自：{{ wechat_article.wechat.wechat_name }}</p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "users-window/footer.html" %}
{% endblock %}
