{% extends "users-window/base.html" %}
{% block title %}BEE | 登录{% endblock %}
{% block base_body %}

    <div>
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <div>
                <br><h3 align="center">欢迎登陆BEE</h3><br>
            </div>
            <div class="user-login">
                <form method="post">
                    {% csrf_token %}
                    <div class="login-input">
                        {{ user.as_ul }}
                    </div>
                    <div>
                        <input type="submit" align="center" value="登陆" class="login-btn"/><br>
                        {% if feedback_message %}
                            <p><font color="red">{{ feedback_message }}</font> </p>
                        {% endif %}
                    </div>
                    <div>
                        <div class="control-left"><a href="{% url 'register' %}">还没有账号?</a></div>
                        <div class="control-right"><a href="{% url 'forget-password' %}"><small>忘记密码?</small></a></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>
{% endblock %}
