<!--my-blog-article-page.html-->
{% extends "users-window/user-homepage.html" %}
{% load staticfiles %}
{% block user_homepage_block %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">{{ blog_article.article_title | safe }}</h3>
        </div>
        <div class="panel-body">
            <div class="text-right">发表时间：{{ blog_article.publish_date | date:"Y-m-d H:i:s" }}</div><hr>
            {{ blog_article.article_content | safe }}
        </div>
    </div>
    <div class="text-right">
        <a href="{% url 'delete-blog-article' blog_article.article_title %}">删除该文章</a>
    </div>
{%  endblock %}