{% extends 'users-window/user-homepage.html' %}
{% block user_homepage_block_title %}我的文章{% endblock %}
{% block user_homepage_block %}
    {% if blog_articles %}
        <ul class="list-group">
            {% for article in blog_articles %}
                <li class="list-group-item">
                    <h4><a href="{% url 'my-blog-article-content' article.id %}">标题：{{article.article_title | safe}}</a></h4>
                    <div class="text-right">
                        <a href="{% url 'delete-blog-article' article.article_title %}">删除该文章</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="text-center">
            <p>这里空空如也，赶紧去写文章吧~</p>
            <a href="{% url 'write-blog-article' %}">点我写文章</a>
        </div>
    {% endif %}
{% endblock %}