<!--my-blog-article-page.html-->
{% extends "users-window/user-homepage.html" %}
{% load staticfiles %}
{% block user_homepage_block %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">{{ blog_article.article_title | safe }}</h3>
        </div>
        <div class="panel-body">
            <div class="text-right">发表时间：{{ blog_article.publish_date | date:"Y-m-d H:i:s" }}</div><hr>
            {{ blog_article.article_html | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <p>浏览次数：{{ blog_article.browsed_times }}</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            <a href="{% url 'delete-blog-article' blog_article.id %}">删除该文章</a>
        </div>
    </div>
{%  endblock %}