{% extends 'users-window/user-homepage.html' %}
{% block user_homepage_block_title %}我的文章{% endblock %}
{% block user_homepage_block %}
    {% if blog_articles %}
        <ul class="list-group">
            {% for article in blog_articles %}
                <li class="list-group-item">
                    <ul class="list-inline">
                        标题：<li class="list-group-item"><a href="{% url 'my-blog-article-content' article.id %}">{{article.article_title | safe}}</a></li>
                        <li class="list-group-item"><a href="{% url 'request-on-wall' article.id %}">请求上墙</a></li>
                        <li class="list-group-item"><a href="{% url 'delete-blog-article' article.id %}">删除该文章</a></li>
                    </ul>
                </li>
            {% endfor %}
            {% if message %}
                <p class="text-right"><font color="red">{{ message }}</font></p>
            {% endif %}
        </ul>
    {% else %}
        <div class="text-center">
            <p>这里空空如也，赶紧去写文章吧~</p>
            <a href="{% url 'write-blog-article' %}">点我写文章</a>
        </div>
    {% endif %}
{% endblock %}