{% extends "users-window/base.html" %}
{% block title %}BEE | 博客文章{% endblock %}
{% block base_body %}
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">{{ blog_article.article_title | safe }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 text-left">文章作者：{{ blog_article.author.name | safe }}</div>
                        <div class="col-sm-6 text-right">发表时间：{{ blog_article.publish_date | date:"Y-m-d H:i:s" }}</div>
                    </div><hr>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ blog_article.article_html | safe }}
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p>浏览次数：{{ blog_article.browsed_times }}</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

