<!--user-homepage.html-->
{% extends "users-window/base.html" %}
{% load staticfiles %}
{% block title %}用户个人主页{% endblock %}

{% block base_body %}
    <div class="col-sm-1"></div>

    <div class="col-sm-2">
        <ul>
            <li><a href="#">个人资料</a></li>
            <li><a href="{% url 'write-blog-article' %}">写文章</a></li>
            <li><a href="{% url 'my-blog-articles' %}">我的文章</a></li>
            <li><a href="#">我的收藏</a></li>
            <li><a href="{% url 'my-fans' %}">我的粉丝</a></li>
            <li><a href="#">我的关注</a></li>
        </ul>
    </div>

    <div class="col-sm-8">
    {% block user_homepage_block %}{% endblock %}
    </div>

    <div class="col-sm-4"></div>
{% endblock %}