{% extends "users-window/user-homepage.html" %}
{% load staticfiles %}
{% block user_homepage_block_title %}个人资料{% endblock %}

{% block user_homepage_block %}
    <div>
        <table class="user-information-table">
            <tr>
                <td>ID：</td>
                <td>{{ user.user_id }}</td>
            </tr>
            <tr>
                <td>昵称：</td>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <td>性别：</td>
                <td>{{ user.sex }}</td>
            </tr>
            <tr>
                <td>生日：</td>
                <td>
                    {% if user.birth_date %}
                        {{ user.birth_date }}
                    {% else %}
                        未填写
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}