<!--base.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" type="text/css">
    <!-- 引入kindeditor_source的simple主题css文件 -->
    <link rel="stylesheet" href="{% static 'kindeditor/themes/simple/simple.css' %}" type="text/css">

    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'manage' %}">BEE数据管理平台</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#login-collapse">
                    <span class="sr-only">管理员</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="login-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'crawl-wechat-accounts' %}">爬爬爬</a> </li>
                    <li><a href="{% url 'article-sort-design' %}">设计分类</a></li>
                    <li><a href="{% url 'manage-carousel' %}">管理轮播图</a></li>
                    <li><a href="{% url 'examine-on-wall' %}">管理上墙文章</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if recommended_request %}
                        <li><a href="{% url 'examine-on-wall' %}">未看上墙请求：{{ recommended_request }}件</a></li>
                    {% endif %}
                    {% if user_id %}
                        <li><a href="{% url 'user-information' %}">欢迎您，{{ user_id }}</a></li>
                        <li><a href="{% url 'logout' %}">退出</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 登录</a></li>
                        <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% block title_block %}{% endblock %}</h3>
                </div>
                <div class="panel-body">
                    {% block body_block %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>


{##}
{#<ul class="nav nav-tabs">#}
{#    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>#}
{#    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>#}
{#</ul>#}
{#<div class="tab-content">#}
{#    <div class="tab-pane active fade" id="tab1">#}
{#        <p>I'm in Section 1.</p>#}
{#    </div>#}
{#    <div class="tab-pane fade" id="tab2">#}
{#        <p>Howdy, I'm in Section 2.</p>#}
{#    </div>#}
{#</div>#}



<!--返回顶部-->
{#<p id="back-top"> <a href="#top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a> </p>#}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

<!--可以用来生成kindeditor的js-->
<script src="{% static 'kindeditor/kindeditor-all-min.js' %}"></script>
<script src="{% static 'kindeditor/lang/zh-CN.js' %}"></script>
<script src="{% static 'kindeditor/config.js' %}"></script>

</body>
</html>


