<!--wechat-articles.html-->
{% extends 'manage-window/crawl.html' %}
{% load staticfiles %}

{% block body_block %}
    <ul class="nav nav-tabs">
        <li><a href="{% url 'crawl-wechat-accounts' %}">爬取公众号</a></li>
        <li class="active"><a href="{% url 'show-wechat-articles' %}">已爬文章</a></li>
        <li><a href="{% url 'crawl-articles' %}">爬取文章</a></li>
    </ul>

    {% if wechat_articles %}
        <table class="table" style="table-layout:fixed;word-break:break-all;">
            <thead>
            <tr>
                <th>文章ID</th>
                <th>文章封面图</th>
                <th>文章标题</th>
                <th>发表时间</th>
                <th>来自公众号</th>
                <th>文章图片数量</th>
                <th>文章文字数量</th>
                <th>文章视频数量</th>
                <th>文章音频数量</th>
                <th>管理</th>
            </tr>
            </thead>
            {% for item in wechat_articles %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td><img src="{{ item.cover_img }}" style="width:80px;"/> </td>
                    <td><a href="{% url 'wechat-article-content' wechat_article.id %}" target="_blank">{{ item.article_title }}</a></td>
                    <td>{{ item.publish_date }}</td>
                    <td>{{ item.wechat.wechat_name }}</td>
                    <td>{{ item.img_amount }}</td>
                    <td>{{ item.word_amount }}</td>
                    <td>{{ item.video_amount }}</td>
                    <td>{{ item.audio_amount }}</td>
                    <td>
                        <a href="{% url 'delete-wechat-article' item.id %}">删除该文章</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1 class="text-center">数据库里还没有爬取的文章</h1>
    {% endif %}
{% endblock %}